@media screen and (min-width:800px) {
    .navigation {
        display:inline-block;
        height:50px;
        width:100%;

    }
    .navigation__item {
        display:inline-block;
        width:20%;
    }
    .images img {
        max-width:25%;
        margin:0;
        z-index:3;
    }
    h1 {
        font-size: 30px;
        padding: 40px;
        font-weight:700;
    }
    .recipe h3 {
        font-size: 30px;
        font-weight: 700;
    }
    .recipe p {
        font-size:18px;
    }
    #recipe1 img {
        margin-left: auto;
        margin-right: auto;
    }
    #recipe2 {
        float:left;
    }
    #recipe2 img {
        width: 40%;
        float:right;
        margin-left:20px;
    }
    #recipe3 img {
        width: 45%;
        float:left;
        margin-right:20px;
    }
    #recipe3__list {
        padding-left:20px;
    }
    aside {
        clear:both;
    }
    .video {
        width: 70%;
        margin: 0 auto;
    }
    .youtube {
        width:48%;
        margin:0 auto;
    }
    footer {
        font-size:14px;
    }

}
@media screen and (min-width:1100px) {
    main {
        width:70%;
        height:2200px;
        float:left;
    }
    
    aside {
        width:30%;
        height:2200px;
        float:left;
        margin:0;
        margin-top:25%;
        padding:0;
        right:0;
        position: absolute;
        z-index:1;
        background: linear-gradient(#eeab2e,#ebc379,#f8e9cc, #fff);


    }

    .video {
        width:90%;
        margin: 0 auto;
        margin-bottom:200px;
    }
    .videoh{
        margin-top:400px;
    }
    .youtube {
        width:90%;
        margin-left:10px;
        padding:0;
    }


    footer {
    clear: both;
    }

    .support, .copy, .social {
        margin: 10px auto;
        margin-bottom:0;
        display: inline-block;
        width: 50%;    }
    .social {
        float:left;
        margin-left:40px;
    }


}