.wrapper {
    margin:0;
    padding:0;
    width: 100%;
}
   
/*  _______________________
    stilizovanje navigacije
    _______________________ */
.header__top {
    width:0;
    margin:0;
}
nav {
        width: 100%;
        margin: 0;
    }

.navigation {
    margin:0;
    padding:0;
    height:150px;
    background-color: #000;
    list-style-type:none;
    display: block;
    width: 100%;
}
.navigation__link {
    display: block;
    text-decoration: none;
    text-transform:uppercase;
    color: #FFF;
    text-align: center;
    font-weight: 30px;
    padding: 15px;
}
.navigation__link:hover {
    background-color: #eb9c0a;
}
.navigation__item--dropdown {
    position:relative;
}
.navigation__second {
    background-color: #fff;
    border: 1px solid black;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    width: 350px;
    display: none;
    list-style-type: none;
    padding: 10px 8px;
    top:0;
    line-height: 200%;
    text-align: left;
    position: absolute;
    float: left;
}
.navigation__second-item {
    display: block;
    width:100%;
    border: 1px black sold;
}
.navigation__second-item:hover {
    background-color: #f8e9cc;
    color: #000;
}
.navigation__second-link {
    text-decoration: none;
    color:#000;

    border: 1px black sold;
    font-family: 'Libre Baskerville', serif;
    font-size:15px;


}
.navigation__item--dropdown:hover .navigation__second {
    display: block;    
    margin-top:50px;
    overflow: hidden;

}

.navigation.open {
    height:auto;
}
.navigation__item {
    display:block;
}
/* _____________________
        hamburger (ne radi)


.hamburger {
    width:50px;
    height:50px;
    display: inline-block;
    float: right;
    top: 0;
    background-color:#0cac0c;
    position: relative;
    overflow: hidden;
}
.hamburger__line {
    width:40px;
    height:3px;
    display: block;
    content: " ";
    background-color:red;
    position: absolute;
    left: 7px;
    transition: all 0.25s;
}

.hamburger__line--first {
    top: 14px;
}
.hamburger__line--second {
    top: 24px;
}
.hamburger__line--third {
    top: 34px;
}
.hamburger.open .hamburger__line--second {
    left: 46px;
    opacity: 0;
}

.hamburger.open .hamburger__line--first {
    transform: rotate(45deg);
    top: 24px;
}

.hamburger.open .hamburger__line--third {
    transform: rotate(-45deg);
    top: 24px;
}
    ___________________*/
.header__bottom {
    background: linear-gradient(#fff,#f8e9cc,#ebc379,#eeab2e);
    height: 100px;
    margin:0;
    padding:0;
}
h2 {
    font-family: 'Libre Baskerville', serif;
    color: #639A3A;
    font-size: 30px;
    font-weight:700;
    text-align:center;
    padding: 30px;

}
.images img {
    max-width:45%;
    margin:7px;
    float: left;
}
#recipe1 img {
    margin:0 auto;
    max-width: 100%;
}
#recipe2 img {
   width: 100%;

}
#recipe3 img {
    max-width: 100%;
}
main {
    font-family: 'Cormorant Garamond', serif;
    background: linear-gradient(#eeab2e,#ebc379,#f8e9cc, #fff);

}
article {
    clear:both;
}
h1 {
    text-align:center;
    font-size: 25px;
    padding: 10px 5px;
    margin: 10px;
    font-family: 'Aclonica', sans-serif;

}
.recipe {
    margin-left:10px;
    text-align:justify;
    width:90%;
}

/*  ----------------------
        aside
    ----------------------*/
    
aside {
    font-family: 'Aclonica', sans-serif;
}
aside h3 {
    text-align: center;
}
video {
    max-width:100%;
}
.youtube {
    max-width: 100%;
    margin: 10px auto;
}

/*  ------------------
        footer
    ------------------*/

footer {
    height:200px;
    width:100%;
    background-color: #b6b3ad;
    font-family: 'Libre Baskerville', serif;
    font-size:12px;

}
.support {
    display:inline-block;
    width:50%;
    height:110px;
    list-style-type: none;
    float: left;
}
.support ul {
    list-style-type: none;
}
.copy {
    display: inline-block;
    width:50%;
    height:110px;
    float:left;
}
.copy ul {
    list-style-type: none;
}
.social {
    clear:both;
    margin-left:50px;
    margin-right:50px;;
}

.fb, .tw, .in {
    width: 50px;
    height:50px;
    float:left;
    margin-right:10px;
    margin-left:10px;
}
.fb img, .tw img, .in img  {
    width:100%;
    height:100%;
}
